<h1>Articles</h1>

<%= link_to "New Article", new_article_path %> <!-- ✅ Add this -->

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %> <!-- ✅ This is good -->
    </li>
  <% end %>
</ul>
<%= link_to "New Article", new_article_path%>
